* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: "BPG Nino Mtavruli";
  src: url("../fonts/bpg-nino-mtavruli-webfont.woff2") format("woff2"),
    url("../fonts/bpg-nino-mtavruli-webfont.woff") format("woff"),
    url("../fonts/bpg-nino-mtavruli-webfont.ttf") format("truetype");
  font-weight: normal;
  font-style: normal;
}

@font-face {
  /* BPG Nino Mtavruli Bold */
  font-family: "BPG Nino Mtavruli";
  src: url("../fonts/bpg-nino-mtavruli-bold-webfont.woff2") format("woff2"),
    url("../fonts/bpg-nino-mtavruli-bold-webfont.woff") format("woff"),
    url("../fonts/bpg-nino-mtavruli-bold-webfont.ttf") format("truetype");
  font-weight: bold;
  font-style: normal;
}

@font-face {
  /* მძიმე ფონტია, შესაცვლელია */
  font-family: "dejavu";
  src: url("../fonts/dejavusans-webfont.woff") format("woff");
  font-weight: normal;
  font-style: normal;
}

body {
  color: #262626;
  font-size: 14px;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen,
    Ubuntu, Cantarell, "Open Sans", "Helvetica Neue", sans-serif;
  line-height: 1.4;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: inherit;
}

a:focus {
  /* for accessibility */
  outline-width: 3px;
  outline-color: gold;
}

.sr-only {
  position: absolute;
  width: 1px;
  height: 1px;
  padding: 0;
  overflow: hidden;
  clip: rect(0, 0, 0, 0);
  white-space: nowrap;
  border: 0;
}

.wrapper {
  max-width: 1180px;
  margin: 0 auto;
  padding: 0 1rem;
}

/* starting from here */

.header {
  background: #fff;
}

/* HEADER TOP */

.header-top {
  padding: 14px 0;
  position: relative;
  display: flex;
}

.logo {
  font-family: "BPG Nino Mtavruli";
  display: flex;
  align-items: center;
  color: #666;
}

.logo span {
  margin: 8px 0 0 8px;
  line-height: 1.3;
}

.extra {
  position: absolute;
  top: 14px;
  right: 0;
  display: flex;
  background: #fff;
}

.go-mof {
  color: #2866a7;
  font-weight: 600;
  margin-right: 20px;
}

.lang {
  font-family: "BPG Nino Mtavruli";
  font-weight: bold;
  text-transform: uppercase;
  color: #333;
  font-size: 12px;
}

.lang.active {
  opacity: 0.8;
  font-weight: normal;
}

/* NAVIGATION MENU */

.navbar {
  background: #f7f7f7;
}

.navbar-container {
  display: flex;
  align-items: center;
  position: relative;
}

.nav {
  display: flex;
  flex: 1;
  flex-wrap: nowrap;
}

.nav a {
  display: flex;
  padding: 10px 10px 6px;
  font-family: "BPG Nino Mtavruli";
  letter-spacing: 0.5px;
  white-space: nowrap;
  transition: 0.3s ease;
}

.nav a:hover {
  color: #629bb6;
}

.search-box {
  -webkit-appearance: none;

  width: 80px;
  font-size: 16px;

  padding: 2px 2px 2px 34px;
  border-radius: 30px;
  color: #454545;
  background: url(../images/search-icon.svg) no-repeat 7px 1px;
  transition: 0.5s ease;
  margin-left: 10px;
  transition: 0.4s ease;
  background-color: #f8f8f8;
  /* height: 26px; */
  border: 1px solid #bbb;
}

.search-box:focus {
  width: 150px;
  outline: 0;
  border-color: #bbb;
  background-color: #fff;
}

/* BANNER - HERO */

.banner {
  /* height: 500px; */
  background: #4e54c8; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #8f94fb,
    #4e54c8
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  color: #fff;
}

.banner-hero {
  padding: 8% 0;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
}

.helpful-links {
  max-width: 320px;
  padding: 1.5rem 0.45rem;
  border-top: 1px solid #fff;
  border-bottom: 1px solid #fff;
  color: #fff;
}

.helpful-links a {
  display: inline-block;
  line-height: 1.4;
  font-family: "BPG Nino Mtavruli";
  letter-spacing: 0.3px;
  transition: 0.4s ease;
  color: #fff;
  border-bottom: 0.12rem solid transparent;
}

.helpful-links a + a {
  margin-top: 0.875rem;
}

.helpful-links a:hover {
  border-color: #fff;
}

.widget {
  padding: 1rem;
  border: 3px solid #fff;
  font-family: "BPG Nino Mtavruli";
  font-size: 14px;
}

/* slider */

.news-slider {
  padding: 40px 0;
  border-bottom: 1px solid #e7e7e7;
}

/* SERVICES */
.services-container {
  width: 100%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  padding: 40px 10px;
}

.service {
  display: flex;
  flex-direction: column;
  text-align: center;
  min-width: 190px;
  max-width: 240px;
  margin: 0 20px 40px;
}

.circle {
  width: 120px;
  height: 120px;
  border-radius: 50%;
  border: 1px solid #bbb;
  margin: 0 auto 12px;
  display: flex;
  justify-content: center;
  line-height: 100px;
  font-size: 60px;
  color: salmon;
}

@supports (display: grid) {
  .services-container {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(190px, 1fr));
    grid-gap: 2.5rem;
    padding: 40px 10px 100px;
  }

  .service {
    padding: 10px 1rem;
    margin: 0;
    max-width: 100%;
  }

  .circle {
    margin-bottom: 12px;
    justify-content: center;
  }
}

.service-title {
  font-family: "BPG Nino Mtavruli";
  font-size: 0.78rem;
  color: #444;
  font-weight: 400;
  letter-spacing: 0.6px;
  line-height: 1.55;
  transition: 0.2s ease-in-out;
}

.service:hover .service-title {
  color: #5d9bb8;
}

/* FOOTER */

.footer {
  background: #0d5ead;
  color: #fff;
  padding: 0 0 2rem;
}

.footer-logo {
  text-align: center;
  padding: 2rem 0 3rem;
  pointer-events: none;
}

.footer-container {
  display: flex;
  justify-content: space-around;
  align-items: flex-start;
}

.footer-section {
  flex: 1;
  padding: 0 0.5rem;
}

.footer-section li:first-child .footer-section-title {
  font-family: "BPG Nino Mtavruli";
  font-weight: bold;
  font-size: 14px;
  margin-bottom: 12px;
  letter-spacing: 0.5px;
  display: block;
}

.footer-link {
  font-size: 12px;
  margin: 8px 0;
  display: inline-block;
  font-family: "dejavu";
  line-height: 1.5;
}

/* small screen */

@media (max-width: 1180px) {
  /* ნავიგაცია მორჩა */
  .navbar-container {
    align-items: flex-start;
  }

  .nav {
    -webkit-overflow-scrolling: touch;
    overflow-x: auto;
    overflow-y: hidden;
  }

  .nav a {
    flex: 1 1 auto;
  }

  .search-box {
    margin-top: 4px;
    margin-left: 4px;
    width: 36px;
    border-color: transparent;
  }
}

@media (max-width: 48rem) {
  .widget {
    display: none;
  }

  .footer-container {
    display: block;
  }

  .footer-section {
    margin-bottom: 2rem;
  }
}

@media (max-width: 420px) {
  .nav {
    mask-image: -webkit-linear-gradient(
      to right,
      transparent,
      #f8f8f8 20px,
      #f8f8f8 90%,
      transparent
    );
    mask-image: -moz-linear-gradient(
      to right,
      transparent,
      #f8f8f8 20px,
      #f8f8f8 90%,
      transparent
    );
    mask-image: linear-gradient(
      to right,
      transparent,
      #f8f8f8 20px,
      #f8f8f8 90%,
      transparent
    );
    -webkit-mask-image: -webkit-linear-gradient(
      to right,
      transparent,
      #f8f8f8 20px,
      #f8f8f8 90%,
      transparent
    );
    -webkit-mask-image: -moz-linear-gradient(
      to right,
      transparent,
      #f8f8f8 20px,
      #f8f8f8 90%,
      transparent
    );
    -webkit-mask-image: linear-gradient(
      to right,
      transparent,
      #f8f8f8 20px,
      #f8f8f8 90%,
      transparent
    );
  }
}

@media (max-width: 400px) {
  .extra {
    top: 2px;
  }

  .services-container {
    grid-gap: 2rem;
  }

  .service {
    max-width: 250px;
    margin: 0 auto;
  }

  .nav a {
    padding-left: 6px;
    padding-right: 6px;
  }
}
